* {
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: rgb(54, 189, 189);
}

.memory-game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px; /* quanto maior for a perspectiva maior é o efeito 3D */
}
/* executa uma ação quando clica no card */
.card:active{
    transform: scale(0.97);
    transition: transform .3s;
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /* aciona o efeito 3d, não deixa o elemento achatado no plano */ 
    transition: transform .9s; /* anima o trasnform */
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #ffffff;
    backface-visibility: hidden; /* uma propriedade que retira o verso do elemento */
}

.card-front {
    transform: rotateY(180deg);
}

/* animação do flip card*/
.card.flip {
    transform: rotateY(180deg);
}